{{- if .Values.openmetadata.config.authentication.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-authentication-secret
type: Opaque
data:
  AUTHENTICATION_PUBLIC_KEYS: {{ include "OpenMetadata.commaJoinedQuotedEncodedList" (dict "value" .Values.openmetadata.config.authentication.publicKeys) }}
  AUTHENTICATION_JWT_PRINCIPAL_CLAIMS: {{ include "OpenMetadata.commaJoinedQuotedEncodedList" (dict "value" .Values.openmetadata.config.authentication.jwtPrincipalClaims) }}
  {{- if .Values.openmetadata.config.authentication.jwtPrincipalClaimsMapping  }}
  AUTHENTICATION_JWT_PRINCIPAL_CLAIMS_MAPPING: {{ include "OpenMetadata.commaJoinedQuotedEncodedList" (dict "value" .Values.openmetadata.config.authentication.jwtPrincipalClaimsMapping) }}
  {{- end }}
{{- with .Values.openmetadata.config.authentication }}
  AUTHENTICATION_PROVIDER: {{ .provider | quote | b64enc }}
  AUTHENTICATION_RESPONSE_TYPE: {{ .responseType | quote | b64enc }}
  AUTHENTICATION_AUTHORITY: {{ .authority | quote | b64enc }}
  AUTHENTICATION_CLIENT_ID: {{ .clientId | quote | b64enc }}
  AUTHENTICATION_CLIENT_TYPE: {{ .clientType | quote | b64enc }}
  AUTHENTICATION_CALLBACK_URL: {{ .callbackUrl | quote | b64enc }}
  AUTHENTICATION_ENABLE_SELF_SIGNUP: {{ .enableSelfSignup | quote | b64enc }}
{{- if and (eq .clientType "confidential") (.oidcConfiguration.enabled) }}
  OIDC_TYPE: {{ .oidcConfiguration.oidcType | quote | b64enc }}
  OIDC_SCOPE: {{ .oidcConfiguration.scope | quote | b64enc }}
  OIDC_DISCOVERY_URI: {{ .oidcConfiguration.discoveryUri | quote | b64enc }}
  OIDC_USE_NONCE: {{  .oidcConfiguration.useNonce | quote | b64enc }}
  OIDC_PREFERRED_JWS: {{ .oidcConfiguration.preferredJwsAlgorithm | quote | b64enc }}
  OIDC_RESPONSE_TYPE: {{ .oidcConfiguration.responseType | quote | b64enc }}
  OIDC_PROMPT_TYPE: {{ .oidcConfiguration.promptType | quote | b64enc }}
  OIDC_DISABLE_PKCE: {{ .oidcConfiguration.disablePkce | quote | b64enc }}
  OIDC_CALLBACK: {{ .oidcConfiguration.callbackUrl | quote | b64enc }}
  OIDC_SERVER_URL: {{ .oidcConfiguration.serverUrl | quote | b64enc }}
  OIDC_CLIENT_AUTH_METHOD: {{ .oidcConfiguration.clientAuthenticationMethod | quote | b64enc }}
  OIDC_TENANT: {{ .oidcConfiguration.tenant | quote | b64enc }}
  OIDC_MAX_CLOCK_SKEW: {{ .oidcConfiguration.maxClockSkew | quote | b64enc }}
  OIDC_OM_REFRESH_TOKEN_VALIDITY: {{ .oidcConfiguration.tokenValidity | quote | b64enc }}
  OIDC_CUSTOM_PARAMS: {{ .oidcConfiguration.customParams | b64enc }}
  OIDC_MAX_AGE: {{ .oidcConfiguration.maxAge | quote | b64enc }}
  OIDC_SESSION_EXPIRY: {{ .oidcConfiguration.sessionExpiry | quote | b64enc }}
{{ end }}
{{- if eq .provider "ldap" }}
  AUTHENTICATION_LDAP_HOST: {{ .ldapConfiguration.host | b64enc }}
  AUTHENTICATION_LDAP_PORT: {{ .ldapConfiguration.port | quote | b64enc }}
  AUTHENTICATION_LOOKUP_ADMIN_DN: {{ .ldapConfiguration.dnAdminPrincipal | quote | b64enc }}
  AUTHENTICATION_USER_LOOKUP_BASEDN: {{ .ldapConfiguration.userBaseDN | quote | b64enc }}
  AUTHENTICATION_GROUP_LOOKUP_BASEDN: {{ .ldapConfiguration.groupBaseDN | quote | b64enc }}
  AUTHENTICATION_USER_ROLE_ADMIN_NAME: {{ .ldapConfiguration.roleAdminName | quote | b64enc }}
  AUTHENTICATION_USER_ALL_ATTR: {{ .ldapConfiguration.allAttributeName | quote | b64enc }}
  AUTHENTICATION_USER_NAME_ATTR: {{ .ldapConfiguration.usernameAttributeName | quote | b64enc }}
  AUTHENTICATION_USER_GROUP_ATTR: {{ .ldapConfiguration.groupAttributeName | quote | b64enc }}
  AUTHENTICATION_USER_GROUP_ATTR_VALUE: {{ .ldapConfiguration.groupAttributeValue | quote | b64enc }}
  AUTHENTICATION_USER_GROUP_MEMBER_ATTR: {{ .ldapConfiguration.groupMemberAttributeName | quote | b64enc }}
  AUTH_ROLES_MAPPING: {{ .ldapConfiguration.authRolesMapping | quote | b64enc }}
  AUTH_REASSIGN_ROLES: {{ include "OpenMetadata.commaJoinedQuotedEncodedList" (dict "value" .ldapConfiguration.authReassignRoles) }}
  AUTHENTICATION_USER_MAIL_ATTR: {{ .ldapConfiguration.mailAttributeName | quote | b64enc }}
  AUTHENTICATION_LDAP_POOL_SIZE: {{ .ldapConfiguration.maxPoolSize | quote | b64enc }}
  AUTHENTICATION_LDAP_SSL_ENABLED: {{ .ldapConfiguration.sslEnabled | quote | b64enc }}
  AUTHENTICATION_LDAP_TRUSTSTORE_TYPE: {{ .ldapConfiguration.truststoreConfigType | quote | b64enc }}
  {{- if eq .ldapConfiguration.truststoreConfigType "CustomTrustStore" }}
  AUTHENTICATION_LDAP_TRUSTSTORE_PATH: {{ .ldapConfiguration.trustStoreConfig.customTrustManagerConfig.trustStoreFilePath | quote | b64enc }}
  AUTHENTICATION_LDAP_SSL_KEY_FORMAT: {{ .ldapConfiguration.trustStoreConfig.customTrustManagerConfig.trustStoreFileFormat | quote | b64enc }}
  AUTHENTICATION_LDAP_SSL_VERIFY_CERT_HOST: {{ .ldapConfiguration.trustStoreConfig.customTrustManagerConfig.verifyHostname | quote | b64enc }}
  AUTHENTICATION_LDAP_EXAMINE_VALIDITY_DATES: {{ .ldapConfiguration.trustStoreConfig.customTrustManagerConfig.examineValidityDates | quote | b64enc }}
  {{ end }}
  {{- if eq .ldapConfiguration.truststoreConfigType "HostName" }}
  AUTHENTICATION_LDAP_ALLOW_WILDCARDS: {{ .ldapConfiguration.trustStoreConfig.hostNameConfig.allowWildCards | quote | b64enc }}
  AUTHENTICATION_LDAP_ALLOWED_HOSTNAMES: {{ .ldapConfiguration.trustStoreConfig.hostNameConfig.acceptableHostNames | b64enc}}
  {{ end }}
  {{- if eq .ldapConfiguration.truststoreConfigType "JVMDefault" }}
  AUTHENTICATION_LDAP_SSL_VERIFY_CERT_HOST: {{ .ldapConfiguration.trustStoreConfig.jvmDefaultConfig.verifyHostname | quote | b64enc }}
  {{ end }}
  {{- if eq .ldapConfiguration.truststoreConfigType "TrustAll" }}
  AUTHENTICATION_LDAP_EXAMINE_VALIDITY_DATES: {{ .ldapConfiguration.trustStoreConfig.trustAllConfig.examineValidityDates | quote | b64enc }}
  {{ end }}
{{ end }}
{{- if eq .provider "saml" }}
  SAML_DEBUG_MODE: {{ .saml.debugMode | quote | b64enc }}
  SAML_IDP_ENTITY_ID: {{ .saml.idp.entityId | quote | b64enc }}
  SAML_IDP_SSO_LOGIN_URL: {{ .saml.idp.ssoLoginUrl | quote | b64enc }}
  SAML_AUTHORITY_URL: {{ .saml.idp.authorityUrl | quote | b64enc }}
  SAML_IDP_NAME_ID: {{ .saml.idp.nameId | quote | b64enc }}
  SAML_SP_ENTITY_ID: {{ .saml.sp.entityId | quote | b64enc }}
  SAML_SP_ACS: {{ .saml.sp.acs | quote | b64enc }}
  SAML_SP_CALLBACK: {{ .saml.sp.callback | quote | b64enc }}
  SAML_STRICT_MODE: {{ .saml.security.strictMode | quote | b64enc }}
  SAML_VALIDATE_XML: {{ .saml.security.validateXml | quote | b64enc }}
  SAML_SP_TOKEN_VALIDITY: {{ .saml.security.tokenValidity | quote | b64enc }}
  SAML_SEND_ENCRYPTED_NAME_ID: {{ .saml.security.sendEncryptedNameId | quote | b64enc }}
  SAML_SEND_SIGNED_AUTH_REQUEST: {{ .saml.security.sendSignedAuthRequest | quote | b64enc }}
  SAML_SIGNED_SP_METADATA: {{ .saml.security.signSpMetadata | quote | b64enc }}
  SAML_WANT_MESSAGE_SIGNED: {{ .saml.security.wantMessagesSigned | quote | b64enc }}
  SAML_WANT_ASSERTION_SIGNED: {{ .saml.security.wantAssertionsSigned | quote | b64enc }}
  SAML_WANT_ASSERTION_ENCRYPTED: {{ .saml.security.wantAssertionEncrypted | quote | b64enc }}
  # Key Store should only be considered if wantAssertionEncrypted will be true
  {{- if .saml.security.wantAssertionEncrypted }}
  SAML_KEYSTORE_FILE_PATH: {{ .saml.security.keyStoreFilePath | quote | b64enc }}
  {{ end }}
{{ end }}
{{ end }}
{{ end }}
