apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-config-secret
type: Opaque
data:
{{- with .Values.openmetadata.config }}
  LOG_LEVEL: {{ .logLevel | b64enc }}
  OPENMETADATA_CLUSTER_NAME: {{ .clusterName | b64enc }}
{{ end }}
