{{- if .Values.openmetadata.config.database.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-db-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.database }}
  DB_HOST: {{ .host | b64enc }}
  DB_PORT: {{ .port | toString | b64enc }}
  DB_DRIVER_CLASS: {{ .driverClass | b64enc }}
  DB_SCHEME: {{ .dbScheme | b64enc }}
  OM_DATABASE: {{ .databaseName | b64enc }}
  DB_PARAMS: {{ .dbParams | b64enc | quote }}
  DB_USER: {{ .auth.username | b64enc }}
  DB_CONNECTION_POOL_MAX_SIZE: {{ .maxSize | quote | b64enc }}
  DB_CONNECTION_POOL_MIN_SIZE: {{ .minSize | quote | b64enc }}
  DB_CONNECTION_POOL_INITIAL_SIZE: {{ .initialSize | quote | b64enc }}
  DB_CONNECTION_CHECK_CONNECTION_WHILE_IDLE: {{ .checkConnectionWhileIdle | quote | b64enc }}
  DB_CONNECTION_CHECK_CONNECTION_ON_BORROW: {{ .checkConnectionOnBorrow | quote | b64enc }}
  DB_CONNECTION_EVICTION_INTERVAL: {{ .evictionInterval | quote | b64enc }}
  DB_CONNECTION_MIN_IDLE_TIME: {{ .minIdleTime | quote | b64enc }}
{{ end }}
{{ end }}
