{{- if .Values.openmetadata.config.jwtTokenConfiguration.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-jwt-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.jwtTokenConfiguration }}
  RSA_PUBLIC_KEY_FILE_PATH: {{ .rsapublicKeyFilePath | quote | b64enc }}
  RSA_PRIVATE_KEY_FILE_PATH: {{ .rsaprivateKeyFilePath | quote | b64enc }}
  JWT_ISSUER: {{ .jwtissuer | quote | b64enc }}
  JWT_KEY_ID: {{ .keyId | quote | b64enc }}
{{ end }}
{{ end }}
