apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-omd-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.openmetadata }}
  SERVER_HOST: {{ .host | b64enc }}
  SERVER_PORT: {{ .port | quote | b64enc }}
  SERVER_ADMIN_PORT: {{ .adminPort | quote | b64enc }}
  SERVER_MAX_THREADS: {{ .maxThreads | quote | b64enc }}
  SERVER_MIN_THREADS: {{ .minThreads | quote | b64enc }}
  SERVER_IDLE_THREAD_TIMEOUT: {{ .idleThreadTimeout | quote | b64enc }}
{{ end }}
