{{- if .Values.openmetadata.config.rdf.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-rdf-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.rdf }}
  RDF_ENABLED: {{ .enabled | quote | b64enc }}
  RDF_BASE_URI: {{ .baseUri | quote | b64enc }}
  RDF_STORAGE_TYPE: {{ .storageType | quote | b64enc }}
  RDF_REMOTE_ENDPOINT: {{ .remoteEndpoint | b64enc }}
  RDF_REMOTE_USERNAME: {{ .username | quote | b64enc }}
  RDF_DATASET: {{ .dataset | quote | b64enc }}
{{ end }}
{{- end}}