{{- if .Values.openmetadata.config.elasticsearch.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-search-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.elasticsearch }}
  ELASTICSEARCH_HOST: {{ .host | quote | b64enc }}
  SEARCH_TYPE: {{ .searchType | quote | b64enc }}
  ELASTICSEARCH_PORT: {{ .port | quote | b64enc }}
  ELASTICSEARCH_SCHEME: {{ .scheme | quote | b64enc }}
  ELASTICSEARCH_INDEX_MAPPING_LANG: {{ .searchIndexMappingLanguage | quote| b64enc }}
  ELASTICSEARCH_KEEP_ALIVE_TIMEOUT_SECS: {{ .keepAliveTimeoutSecs | quote | b64enc }}
  ELASTICSEARCH_CLUSTER_ALIAS: {{ .clusterAlias | quote | b64enc }}
  ELASTICSEARCH_PAYLOAD_BYTES_SIZE: {{ .payLoadSize | int | toString | b64enc }}
  {{- if .trustStore.enabled }}
  ELASTICSEARCH_TRUST_STORE_PATH: {{ .trustStore.path | b64enc }}
  {{ end }}
  {{- if .auth.enabled }}
  ELASTICSEARCH_USER: {{ .auth.username | quote | b64enc }}
  {{ end }}
{{ end }}
{{ end }}
