{{- if .Values.openmetadata.config.secretsManager.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-secretsmanager-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.secretsManager }}
  SECRET_MANAGER: {{ .provider | quote | b64enc }}
  SECRET_MANAGER_PREFIX: {{ .prefix | quote | b64enc }}
  SECRET_MANAGER_TAGS: {{ include "OpenMetadata.commaJoinedQuotedEncodedList" (dict "value" .tags) }}
  {{- if .additionalParameters.enabled }}
  OM_SM_REGION: {{ .additionalParameters.region | quote | b64enc }}
  {{ end }}
{{ end }}
{{ end }}
