{{- if .Values.openmetadata.config.web.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "OpenMetadata.fullname" . }}-web-secret
type: Opaque
data:
{{- with .Values.openmetadata.config.web }}
  WEB_CONF_URI_PATH: {{ .uriPath | quote | b64enc }}
  WEB_CONF_HSTS_ENABLED: {{ .hsts.enabled | quote | b64enc }}
  WEB_CONF_HSTS_MAX_AGE: {{ .hsts.maxAge | quote | b64enc }}
  WEB_CONF_HSTS_INCLUDE_SUBDOMAINS: {{ .hsts.includeSubDomains | quote | b64enc }}
  WEB_CONF_HSTS_PRELOAD: {{ .hsts.preload | quote | b64enc }}
  WEB_CONF_FRAME_OPTION_ENABLED: {{ .frameOptions.enabled | quote | b64enc }}
  WEB_CONF_FRAME_OPTION: {{ .frameOptions.option | quote | b64enc }}
  WEB_CONF_FRAME_ORIGIN: {{ .frameOptions.origin | quote | b64enc }}
  WEB_CONF_CONTENT_TYPE_OPTIONS_ENABLED: {{ .contentTypeOptions.enabled | quote | b64enc }}
  WEB_CONF_XSS_PROTECTION_ENABLED: {{ .xssProtection.enabled | quote | b64enc }}
  WEB_CONF_XSS_PROTECTION_ON: {{ .xssProtection.onXss | quote | b64enc }}
  WEB_CONF_XSS_PROTECTION_BLOCK: {{ .xssProtection.block | quote | b64enc }}
  WEB_CONF_XSS_CSP_ENABLED: {{ .csp.enabled | quote | b64enc }}
  WEB_CONF_XSS_CSP_POLICY: {{ .csp.policy | quote | b64enc }}
  WEB_CONF_XSS_CSP_REPORT_ONLY_POLICY: {{ .csp.reportOnlyPolicy | quote | b64enc }}
  WEB_CONF_REFERRER_POLICY_ENABLED: {{ .referrerPolicy.enabled | quote | b64enc }}
  WEB_CONF_REFERRER_POLICY_OPTION: {{ .referrerPolicy.option | quote | b64enc }}
  WEB_CONF_PERMISSION_POLICY_ENABLED: {{ .permissionPolicy.enabled | quote | b64enc }}
  WEB_CONF_PERMISSION_POLICY_OPTION: {{ .permissionPolicy.option | quote | b64enc }}
  WEB_CONF_CACHE_CONTROL: {{ .cacheControl | quote | b64enc }}
  WEB_CONF_PRAGMA: {{ .pragma | quote | b64enc }}
{{ end }}
{{ end }}
