apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "OpenMetadata.fullname" . }}
  labels:
    {{- include "OpenMetadata.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "OpenMetadata.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "OpenMetadata.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets  }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "OpenMetadata.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      initContainers:
      {{- with .Values.extraInitContainers }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- with .Values.extraVolumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          volumeMounts:
          {{- with .Values.extraVolumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          ports:
            - name: http
              containerPort: {{ .Values.global.openmetadata.port }}
              protocol: TCP
            - name: http-admin
              containerPort: {{ .Values.global.openmetadata.adminPort }}
              protocol: TCP
          livenessProbe:
            initialDelaySeconds: {{ .Values.livenessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.livenessProbe.periodSeconds }}
            failureThreshold: {{ .Values.livenessProbe.failureThreshold }}
            httpGet:
              path: /api/v1/health-check
              port: http
          readinessProbe:
            initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
            periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
            failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
            httpGet:
              path: /
              port: http
          env:
          - name: SERVER_HOST
            value: "{{ .Values.global.openmetadata.host }}"
          - name: SERVER_PORT
            value: "{{ .Values.global.openmetadata.port }}"
          - name: SERVER_ADMIN_PORT
            value: "{{ .Values.global.openmetadata.adminPort }}"
          - name: ELASTICSEARCH_HOST
            value: "{{ .Values.global.elasticsearch.host }}"
          - name: ELASTICSEARCH_PORT
            value: "{{ .Values.global.elasticsearch.port }}"
          - name: ELASTICSEARCH_SCHEME
            value: "{{ .Values.global.elasticsearch.scheme }}"
          - name: MYSQL_HOST
            value: "{{ .Values.global.mysql.host }}"
          - name: MYSQL_PORT
            value: "{{ .Values.global.mysql.port }}"
          {{- with .Values.global.mysql.auth }}
          - name: MYSQL_USER
            value: {{ .username }}
          - name: MYSQL_USER_PASSWORD
            valueFrom:
              secretKeyRef:
                name: "{{ .password.secretRef }}"
                key: "{{ .password.secretKey }}"
          {{- end }}
          - name: MYSQL_DATABASE
            value: "{{ .Values.global.mysql.databaseName }}"
          {{- if .Values.global.airflow.enabled -}}
          - name: AIRFLOW_HOST
            value: "{{ .Values.global.airflow.host }}"
          - name: AIRFLOW_PORT
            value: "{{ .Values.global.airflow.port }}"
          {{- with .Values.global.airflow.auth }}
          - name: AIRFLOW_USERNAME
            value: {{ .username }}
          - name: AIRFLOW_PASSWORD
            valueFrom:
              secretKeyRef:
                name: "{{ .password.secretRef }}"
                key: "{{ .password.secretKey }}"
          {{- end }}
          {{- end }}
          {{- with .Values.extraEnvs }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
